/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 16px
  ;
  font-weight: bold;
  color: blue;
  margin: 40px 0px 70px;
  text-align: center;
  padding: 5px;
}



/*---------------------- Big Blue buttons ----------------------*/
.bigBlueButton {
	background: #016bb2;
	color: white;
	margin: 20px;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
}
.bigBlueButton-up-hovering {
	cursor: pointer; 
}
.bigBlueButton-down-hovering {
	background: #059afe;
	cursor: pointer; 
}
.bigBlueButton-up-disabled {
	background: #d2edff;
	cursor: not-allowed !important;
}
.bigBlueButton-down-disabled {
	background: #d2edff;
	cursor: not-allowed !important;
}

a, a:link, a:visited, a:hover, a:active {
  color: cyan;
}



.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/* ===========================================================================*/
/* ==============================    DAIML      ==============================*/
/* ===========================================================================*/

/*---------------------- Login page ----------------------*/

.myBackgroundImage {
	   background-image:url('images/background.png');
	      background-repeat: no-repeat;
  background-size:cover;
}

.blackBackground{
    	   background: black;
    
}

.opacity6{
    background:rgba(255,255,255,0.1);
}

.boldFont{
	color: white;
}

/*---------------------- Big Green buttons ----------------------*/
.bigGreenButton {
	font-family: Sans-Serif;
	font-size: 14px;
	color: white;
	background: #26714b;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 3px;
	margin-top: 5px;
	margin-bottom: 9px;
	margin-left: 7px;
	margin-right: 7px;
}
.bigGreenButton-up-hovering {
	cursor: pointer; 
}
.bigGreenButton-down-hovering {
	background: #3aaf75;
	cursor: pointer; 
}
.bigGreenButton-up-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
.bigGreenButton-down-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
/*---------------------- Green Dialog buttons ----------------------*/
.greenButton {
	color: white;
	background: #26714b;
	vertical-align: middle;
	padding: 3px 0px 3px 0px;
	cursor: pointer; 
}
.greenButton-up-hovering {
	background: #3aaf75;
}
.greenButton-down-hovering {
	background: #3aaf75;
}
.greenButton-up-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
.greenButton-down-disabled {
	background: #b4e7cd;
	cursor: not-allowed !important;
}
.daiml_main_logo {
	color: blue;
	font-size: 32px;
}
.demo-Label {
	color: white;
		padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
}
. {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
}
.blackBackground myBackgroundImage {
	padding-left: 5px;
}
.blackBackground myBackgroundImage opacity6 {
}
.grayPanel {
	background: #595959;
}
.demo-title {
}
.demoTitle {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 32px;
	color: white;
}
.col-label {
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 5px null 5px 5px;
	font-size: 18px;
}
.sourceLabel {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.gwt-Button {
	margin-left: 5px;
	padding-left: 5px;
}
.resultLabel {
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 30px;
}
.gwt-Label {
	color: Aqua;
	margin: 5px;
}
.housePricePanel {
	background: black;
}
.githubUrl {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	font-size: 16px;
}
.southPanel {
	background: red;
}
.blackPanel {
	background: black;
}
.textBoxes {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}
.whiteBackground {
	background: yellow;
}
.canvasStyle {
	background: green
	;
}
.drawBackground {
	background: yellow;
}
.mnist-image {
	margin: 5px;
}
.housePriceUrl {
	color: Aqua;
	margin: 5px;
}
.mnistURL {
	color: Aqua;
	margin: 5px;
}
.mnistDirectionsLabel {
	color: white;
	padding: 5px;
}
.mnistCanvas {
	background: white;
	color: black;
	margin: 5px;
	border: solid white;
}
.clearButton {
	background: #ff3333;
	color: white;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
	padding: 5px;
}
.redButton {
}
.demoButton {
	background: #ff3333;
	color: white;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
}
.demoListBox {
	background: black;
	color: white;
	padding: 5px;
	margin: 5px;
}
.redLabel {
	color: red;
	padding: 5px;
}
